@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1350px;
  margin: 2px auto;
}

.container_second {
  width: 1350px;
  margin: 2px auto;
}

.center {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.menu {
  background-color: #f5f5f5;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
}

.menu_2 {
  background-color: #f5f5f5;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 100%;
  height: 50px;
  display: flex;
  /*justify-content: space-between;*/
  padding-left: 300px;
  position: relative;
}
.menu__right {
  align-items: center;
  height: 100%;
}

.menu__list {
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0;
  margin-right: 40px;
}

.menu__listb {
  margin: auto;
  list-style-type: none;
  padding: 0;
  height: 100%;
}
.menu__list-item {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #3a3e47;
  display: inline-block;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 3px;
}

.menu__logo {
  text-indent: -9999999px;
  display: inline-block;
  height: 100%;
  width: 92px;
  background-image: url(logo.png);
  background-size: cover 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.menu__search-form {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
  background-color: white;
}

.menu__search-input {
  outline: 10px;
  border: 1px;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
}

.menu_search_input {
  position: abosulte;
  height: 38px;
  margin-bottom: 5px;
}

.header_form {
  margin: auto;
  margin-top: 5px;
}
